%h2{class: 'text-center'}
  #{@event.name}
- @event.people.each_with_index do |person, index|
  %table
    %tr
      %td{class: 'ordinal'}= index
      %td{class: "text-left"}=link_to(person.name, event_person_path(@event, person))
      %td{class: "text-left weight"}=person.up_by(@event)
  %br
%br
%br
%br
%br
%br
%h3
  %a= link_to('< Back', events_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')